@use '../abstract' as *;

/*----------------------------------------*/
/*  21. Job CSS START
/*----------------------------------------*/
.job-list-item{
    padding: 50px;
    border: 1px solid #ECEFF4;
    transition: .3s;
    &:hover{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transition: .3s;
    }
    @media #{$sm,$xs} {
        padding: 25px;
    }
}
.job-list-title{
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    &:hover{
        color: #E7E9EE;
    }
    @media #{$xs,$sm} {
        font-size: 20px;
        line-height: 1.4;
    }
}
.job-name{
    font-size: 14px;
    font-weight: 400;
    color: #777B83;
    display: block;
    letter-spacing: 1px;
}
.job-state{
    font-size: 18px;
    font-weight: 600;
    color: #E7E9EE;
    text-transform: uppercase;
    display: block;
    @media #{$md,$sm,$xs} {
        margin-top: 50px;
        margin-bottom: 30px;
    }
}
.job-list-sm-title{
    font-size: 18px;
    line-height: 1.3;
    font-weight:600;
}
.job-sm-name{
    font-size: 15px;
    line-height: 24px;
    color: #777B83;
    font-weight: 400;
    letter-spacing: 1px;
    display: block;
}
.job-type{
    font-size: 15px;
    color:#141515;
    font-weight: 400;
    display: block;
    text-decoration: underline;
}

// job details css
.jobd-state{
    border-bottom: 1px solid #ECEFF4;
}
.job-dstate{
    font-size: 18px;
    color: var(--tp-theme-1);
    font-weight: 600;
    display: block;
}
.job-dtitle{
    font-size: 22px;
    line-height: 1.3;
    font-weight: 600;
}
.job-sm-dtitle{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #777B83;
    text-transform: uppercase;
}
.job-dtext{
    & a{
        font-size: 16px;
        font-weight: 500;
        color: #141515;
    }
}
.job-feature-list{
    & ul{
        & li{
            list-style: none;
            margin-left: 40px;
            position: relative;
            font-size: 16px;
            margin-bottom: 20px;
            & i{
                color: #141515;
                font-size: 18px;
                position: absolute;
                left: -35px;
                top: 4px;
            }
            & b{
                font-weight: 400;
                color: #141515;
            }
        }
    }
    &-2{
        & ul{
            & li{
                margin-bottom: 30px;
            }
        }
    }
}
.job-details-contact{
    margin-left: 100px;
    @media #{$lg} {
        margin-left: 60px;
    }
    @media #{$md,$sm,$xs} {
        margin-left: 0;
    }
}


//square
.tp-solid-btn-square{
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 13px 34px;
	display: inline-block;
	font-weight: 700;
	transition: all 0.4s ease-in-out;
	background:  #E7E9EE;
	border: 2px solid transparent;
	text-align: center;
	&:hover{
		background: transparent;
		color:  #E7E9EE;
		border-color:  #E7E9EE;
	}
}