@use '../abstract' as *;

/*----------------------------------------*/
/*  20. Privacy CSS START
/*----------------------------------------*/

.privacy-title{
    font-weight: light;
    font-size: 26px;
    line-height: 1.2;
    & b{
        font-weight: bold;
    }
}

.privacy-nav{
    position: sticky;
    top: 140px;
    & .nav-tabs{
        border: 0;
        padding: 0;
        margin: 0;
        position: relative;

        &::before{
            position: absolute;
            content: '';
            right: 75px;
            background: grey;
            width: 1px;
            height: 100%;
            @media #{$lg,$xs} {
                right: 35px;
            }
        }
        & .nav-item{
            list-style: none;
            margin-bottom: 30px;
            &:last-child{
                margin-bottom: 0;
            }
            & .nav-link{
                border: 0;
                margin: 0;
                padding: 0;
                background-color: transparent;
                font-size: 18px;
                line-height: 1.2;
                color: #141515;
                background-repeat: no-repeat;
                display: inline-block;
                position: relative;

                &::after{
                    position: absolute;
                    content: '';
                    left: auto;
                    bottom: 0;
                    right: 0;
                    width: 0%;
                    height: 1px;
                    background-color: #FD4766;
                }
                &:hover,
                &.active{
                    color: var(--tp-theme-1);

                    &::after{
                        width: 100%;
                        left: 0;
                        right: auto;
                    }
                }
            }
        }
    }
}

// search-area css
.search-wrapper{
    padding: 40px 90px;
    border: 1px solid grey;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,.09);
    @media #{$xs} {
        padding: 0 0;
    }
}
.m-sidebar{
    &-search {
        position: relative;
        & a {
            width: 88px;
            height: 88px;
            text-align: center;
            line-height: 88px;
            background:  #FD4766;
            color: white;
            font-size: 25px;
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
        }
        & input {
            padding-left: 30px;
            padding-right: 100px;
            background: none;
            height: 88px;
            width: 100%;
            border: 0;
            outline: none;
            border: 1px solid grey;
            &::placeholder {
                color: #999999
            }
            &:focus{
                border-color: #FD4766;
            }
        }
    }
}

.privacy-item{
    & ul{
        margin-top: 20px;
        padding-left: 20px;
        & li{
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
}

/* 14. ========= search-modal ========== */
#search-modal {
	background: rgba(0, 0, 0, 0.75);
	  
	button span {
		color: #fff;
		top: 50px;
		right: 50px;
		position: absolute;
		font-size: 50px;
        transition: .3s;
        &:hover{
            transform: rotate(90deg);
            color: #FD4766;
        }
	  }
	  
	.modal-dialog {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		border: none;
		outline: 0;
	  }
	  
	.modal-dialog .modal-content {
		background: 0 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
	  }
	  
	.modal-dialog .modal-content form {
		max-width: 555px;
		position: relative;
	  }
	  
	.modal-dialog .modal-content form input {
		width: 100%;
		font-size: 36px;
		border: none;
		border-bottom: 3px solid rgba(255, 255, 255, 0.938);
		background: 0 0;
		color: #fff;
		padding-bottom: 12px;
		padding-right: 40px;
		outline: none;
        transition: .3s;
        &:focus{
            border-color: #FD4766;
        }
	  }
	  
	.modal-dialog .modal-content form input::-webkit-input-placeholder {
		font-size: 35px;
		color: rgba(255, 255, 255, 0.938);
	  }
	  
	.modal-dialog .modal-content form input:-ms-input-placeholder {
		font-size: 35px;
		color: rgba(255, 255, 255, 0.938);
	  }
	  
	.modal-dialog .modal-content form input::-ms-input-placeholder {
		font-size: 35px;
		color: rgba(255, 255, 255, 0.938);
	  }
	  
	.modal-dialog .modal-content form input::placeholder {
		font-size: 35px;
		color: rgba(255, 255, 255, 0.938);
	  }
	  
	.modal-dialog .modal-content form button {
		position: absolute;
		right: 0;
		margin-bottom: 3px;
		font-size: 30px;
		color: rgba(255, 255, 255, 0.938);
		background: 0 0;
		border: none;
		cursor: pointer;
		top: 11px;
        transition: .3s;
        &:hover{
            color: #FD4766;
        }
	  }
	
}

.modal.search-modal{
	display: block;
}