@use '../abstract' as *;

/*----------------------------------------*/
/*  02. SERVICES CSS START
/*----------------------------------------*/


.services{
    &__item{
        position: relative;
        padding: 40px 40px;
        padding-bottom: 45px;
        @include box-shadow(0px 30px 40px 0px rgba(3, 24, 128, 0.2));
        @include border-radius(6px);
        backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-transition: transform .3s cubic-bezier(.21,.6,.44,2.18);
        -moz-transition: transform .3s cubic-bezier(.21,.6,.44,2.18);
        -ms-transition: transform .3s cubic-bezier(.21,.6,.44,2.18);
        -o-transition: transform .3s cubic-bezier(.21,.6,.44,2.18);
        transition: transform .3s cubic-bezier(.21,.6,.44,2.18);

        @media #{$xl}{
            padding-left: 30px;
            padding-right: 30px;
        }
        @media #{$lg}{
            padding-left: 15px;
            padding-right: 15px;
        }
        @media #{$sm}{
            padding-left: 25px;
            padding-right: 25px;
        }

        &:hover{
            @include transform(translateY(-5px) translate3d(0,-5px,0));
            & p{
                visibility: hidden;
                opacity: 0;
            }
            & .link-btn-2{
                bottom: 45px;
                visibility: visible;
                opacity: 1;
                @media #{$xs}{
                    bottom: 30px;
                }
            }
        }
    }
    &__title{
        font-size: 22px;
        color: $white;
        margin-bottom: 17px;
    }
    &__icon{
        margin-bottom: 43px;
        & svg{
            width: 50px;
            height: 50px;
            & path{
                fill: $white;
            }
        }
    }
    &__content{
        & p{
            color: $white;
            opacity: .8;
            line-height: 22px;
            margin-bottom: 0;
        }
        & .link-btn-2{
            position: absolute;
            left: 40px;
            bottom: 20px;
            visibility: hidden;
            opacity: 0;
            color: $white;

            @media #{$lg}{
                left: 15px;
            }
            &:hover{
                border-color: $white;
            }
        }
    }
}

//services details css
.services-d-title{
    font-size: 40px;
    line-height: 1.3;
    @media #{$sm} {
        font-size: 35px;
    }
    @media #{$xs} {
        font-size: 30px;
    }
}
.services-sm-image{
    & img{
        border-radius: 10px;
    }
}
.services-text{
    line-height: 30px;
}
.services-sm-title{
    font-size: 30px;
    line-height: 1.2;
    @media #{$xs} {
        font-size: 25px;
    }
}
.step{
    &-item{
        position: relative;
        & p{
            line-height: 26px;
        }
        &-shape{
            position: absolute;
            @media #{$xs} {
                display: none;
            }
        }
        & .shape-1{
            top: 5px;
            right: -80px;
        }
    }
    &-title{
        font-size: 18px;
        font-weight: 600;
    }
    &-number{
        width: 45px;
        height: 45px;
        line-height: 45px;
        background: $e-blue;
        display: block;
        text-align: center;
        margin: 0 auto;
        font-size: 16px;
        font-weight: 600;
        color: white;
        border-radius: 50%;
        font-family: "'Poppins', sans-serif";
        z-index: 1;
        &-wrapper{
            position: relative;
            &::after{
                position: absolute;
                content: '';
                background: #FFEDF0;
                right: 0;
                left: 0;
                top: -15px;
                width: 75px;
                height: 75px;
                z-index: -1;
                border-radius: 50%;
                margin: 0 auto;
            }
        }
    }
}
.services-padd{
    padding-top: 135px;
    padding-bottom: 125px;
}
.services-padd-cta{
    padding-top: 120px;
    padding-bottom: 135px;
}
.services-blog-padd{
    padding-bottom: 110px;
    padding-top: 0;
}
.services-brand{
    padding-bottom: 125px;
    padding-top: 0;
}