
@use '../css/fontAwesome5Pro.css';
@use 'component/common';
@use 'component/header';
@use 'component/hero';
@use 'component/category';
@use 'component/banner';
@use 'component/course';
@use 'component/events';
@use 'component/price';
@use 'component/cta';
@use 'component/product';
@use 'component/services';
@use 'component/about';
@use 'component/what';
@use 'component/why';
@use 'component/counter';
@use 'component/testimonial';
@use 'component/blog';
@use 'component/slider';
@use 'component/brand';
@use 'component/teacher';
@use 'component/page-title';
@use 'component/contact';
@use 'component/error';
@use 'component/login';
@use 'component/footer';